



<div class="container">
  <div class="row">

  <div class="col-xs-3">
        
        
        <p id="notice"></p>
      
  
      	<%= render 'users/user', user: @user %>

        <%= render 'bookers/booker', booker: @booker %>

        
  </div>
  <div class="col-xs-9">
    <h2>Users</h2>

    <table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><img class="attachment user profile_image" src="/attachments/17bacd1814bb23abe94950eb200ba981a796fcfe/store/fill/50/50/90955d821974129ae2bbd209749c74253d29991663b6bc163315522f641d/profile_image" alt="Profile image"></td>
        <td>Akira</td>
        <td><a href="/users/3">Show</a></td>
      </tr>
  </tbody>
</table>

  </div>

</div>
</div>